# Ignore processed datasets except raw one
data/cleaned_ameshousing.csv
data/engineered_ameshousing.csv

# Ignore cache and temp files
__pycache__/
*.py[cod]
*.so

# Ignore testing or coverage artifacts
htmlcov/
coverage.xml
.cache/
pytest_cache/

# Ignore model binaries
model/*.pkl

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore venv and editor folders
.venv/
venv/
.vscode/

# Ignore app folder (since B is not doing API/Frontend)
app/
templates/